<div class="contact-container">
  <div class="content">
    <h1>How do I learn more?</h1>

    <div class="left-container">
      <a href="https://www.linkedin.com/in/tyler-guice" target="_blank">
        <img src="../../assets/images/linkedin-icon.png" alt="">
      </a>
      <a href="https://github.com/tylerguice/" target="_blank">
        <img src="../../assets/images/github-icon.png" alt="">
      </a>
    </div>

    <div class="right-container">
      <span><mat-icon>location_on</mat-icon> Lakeland, FL</span>
      <span><mat-icon>mail</mat-icon> <a href="mailto:guicetyler@aol.com">guicetyler@aol.com</a></span>  
    </div>

  </div>
</div>

<div class="copyright-container">
  <div class="copyright">
    <span>&copy;Tyler Guice. All rights reserved.</span><br>
    <span>Handcrafted by me. With a little help from <img src="../../assets/images/angular.png"></span>
  </div>
</div>
