<div class="contact-container">
  <div class="content">
    <h1>Want to know more?</h1>

    <div style="display: flex; justify-content: space-between;">
      <div class="left-container">
        If you're interested in learning more, please don't hesitate to reach out to me via 
        email or through one of the social media conduits to the right. 
      </div>

      <div class="middle-container">
        <h3>Social</h3>
        <a href="https://www.linkedin.com/in/tyler-guice" target="_blank" class="social-link">
          <img src="../../assets/images/linkedin-icon.png" alt="">
        </a>
        <a href="https://github.com/tylerguice/" target="_blank" class="social-link">
          <img src="../../assets/images/github-icon.png" alt="">
        </a>
      </div>
  
      <div class="right-container">
        <h3>Contact</h3>
        <span><mat-icon>mail</mat-icon> &nbsp;<a href="mailto:guicetyler@aol.com">guicetyler@aol.com</a></span>  
        <br>
        <span><mat-icon>location_on</mat-icon> Lakeland, FL</span>
      </div>
  
    </div>
  </div>
</div>

<div class="copyright-container">
  <div class="copyright">
    <span>&copy;Tyler Guice. All rights reserved.</span><br>
    <span>Handcrafted by me. With a little help from <img src="../../assets/images/angular.png"></span>
  </div>
</div>
