.contact-container {
    padding: 70px 0;
    background-image: linear-gradient(90deg, #cb2d3e, #ef473a);
}

.content {
    max-width: 50em;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}

a:link {
    text-decoration: none;
    color: white;
}
  
.copyright-container {
    background-color: #212121;
    padding: 35px 0;
    color: white;
    text-align: center;
    font-size: 16px;

    img {
        height: 24px;
        position: relative;
        top: 5px;
    }
}