<div class="angled-container">
  <div class="section-content" [style.max-width]="isMobile ? '75%' : '50em'">
    <h1>What can he do?</h1>

    <div class="content">
      <div class="left-container" [style.margin]="isMobile ? '40px 0 0 0' : '40px 50px 0 0'">
        <p class="heading"><strong>Technical Skills</strong></p>
        <p class="description">
          I have years of experience as a full-stack web developer, including expertise in technologies 
          and languages such as Angular, Java, Spring, SQL, REST API, Javascript, Typescript, 
          HTML5, and CSS3. 
        </p>
        <p class="description">
          Aside from this, I'm also highly proficient in using Git and source repositories, 
          Google Analytics, Adobe Creative Suite, Jenkins CI, 
          Nexus package manager, Swagger documentation, Atlassian suite, and Microsoft Office Suite.
        </p>

        <p class="heading"><strong>Core Competencies</strong></p>
         <p class="description"> 
          As a web developer, I pride myself on my keen attention to detail, sense of urgency, 
          care for the customer and end user, agile scrum approach to development, excellent communication, 
          creating innovative designs and smooth user experiences, and focus on teambuilding and collaboration. 
        </p>

      </div>
      <div *ngIf="!isMobile" class="right-container">
        <img src="../../assets/images/programmer.png">
      </div>
    </div>
  </div>
</div>