<mat-toolbar>  
  <button class="home-button" mat-button (click)="scrollToElement('home')">Tyler Guice</button>
  <div class="header-menu">
    <button mat-button (click)="scrollToElement('about')">About</button>
    <button mat-button (click)="scrollToElement('resume')">Resume</button>
    <button mat-button (click)="scrollToElement('skills')">Skills</button>
    <button mat-button (click)="scrollToElement('testimonials')">Testimonials</button>
    <button mat-button (click)="scrollToElement('contact')">Contact</button>
  </div>
</mat-toolbar>

<div class="splash-page-container" id="home">
  <div class="overlay">
    <app-home></app-home>
  </div> 
</div>

<div class="section-container" id="about">
  <app-about></app-about>
</div>

<div class="section-container" id="resume">
  <app-resume></app-resume>
</div>

<div class="section-container" id="skills">
  <app-skills></app-skills>
</div>

<div class="section-container" id="testimonials">
  <app-testimonials></app-testimonials>
</div>

<div class="section-container" id="contact">
  <app-contact></app-contact>
</div>