mat-toolbar {
    opacity: 0.85;
    position: fixed; 
}

.splash-page-container {
    background-image: url("../assets/images/tetons-background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

