<div class="angled-container">

  <div class="section-content">

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Jan 2017 - Present : Summit Consulting</mat-panel-title>
          <mat-panel-description>Web Application Developer</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Apr 2014 - Dec 2016 : Cobb Theatres</mat-panel-title>
          <mat-panel-description>Operations Manager</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>2012 - 2016 : Florida Southern College</mat-panel-title>
          <mat-panel-description>Operations Manager</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>