<div class="container">
  <div class="section-content" [style.max-width]="isMobile ? '75%' : '50em'">

    <h1>What has he done?</h1>

    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>work</mat-icon>
            Jan 2017 - Present: Summit Consulting
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p class="title">Web Application Developer&nbsp; | &nbsp;Mar 2018 - Present</p>
        <div class="description">
          <ul>
            <li>
              Redesigned entire 300,000-user enterprise website and acted as key contributor in development efforts.
            </li>
            <li>
              Leverage full-stack development expertise to create aesthetically pleasing and highly functional UI and UX designs.
            </li>
            <li>
              Led various web projects as scrum master, including revamping major injury reporting application.
            </li>
            <li>
              Selected as liaison between web team and Enterprise Information Security Group security analysis team.
            </li>
            <li>
              Trained junior members of development team through coaching and code reviews.
            </li>
          </ul>
        </div>

        <p class="title">Associate Web Application Developer&nbsp; | &nbsp;Jan 2017 - Mar 2018</p>
        <div class="description">
          <ul>
            <li>
              Participated in all aspects of Agile Software Development Life Cycle.
            </li>
            <li>
              Designed, developed, and supported over 30 enterprise web applications.
            </li>
            <li>
              Leveraged interpersonal communication skills in stakeholder interactions to maintain positive relationships with business-units.
            </li>
          </ul>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>work</mat-icon>
            Apr 2014 - Dec 2016: Cobb Theatres
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="title">Operations Manager</p>
        <div class="description">
          <ul>
            <li>
              Leveraged team leadership skills to manage a team of over 70 team members.
            </li>
            <li>
              Handled all IT and equipment operations, including installations for projection and computer
              hardware, as well as maintaining programs, software, servers, and film database.
            </li>
            <li>
              Utilized excellent communication skills in interactions with all parties, including other management,
              employees, and customers.
            </li> 
            <li>
              Fostered a welcoming and comfortable environment built on teamwork, positivity, and respect.
            </li> 
          </ul>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>            
            <mat-icon>school</mat-icon>
            Aug 2012 - May 2016: Florida Southern College
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="title">Bachelor of Arts, Computer Science & Spanish</p>
        <div class="description">
          <ul>
            <li>
              AirMocs group member, participating in drone programming and onboard computer vision research.
            </li>
            <li>
              Founder of Spanish literary club. 
            </li>
            <li>
              Cumulative unweighted GPA: 3.5
            </li> 
          </ul>
        </div>      
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>