@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Unica One", cursive;');
@include mat-core($custom-typography);

html, body { height: 100%; }
body { margin: 0; }

h1 {
    color: white;
    font-size: 36px !important;
}
