<div class="container">
  <div class="heading">
    <div class="action-container">
      <p class="title">Hi, I'm Tyler Guice.</p>
      <br>
      <p class="subtitle">Full Stack Web Developer &middot; UI/UX Designer</p>
      <!-- <button mat-raised-button color="primary">Who cares?</button>   -->
    </div>
  </div>

  <div class="scroll-action-container">
    <div class="scroll-button">
      Who cares?
      <div class="line-break"></div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>


</div>