<div class="container">
  <div class="heading" [style.line-height]="isMobile ? '0.95' : 'normal'">
    <div class="action-container" [style.margin]="isMobile ? 'auto' : 'auto 0 auto 50px'">
      <p class="title">Hi, I'm Tyler Guice.</p>
      <br>
      <p class="subtitle">Full Stack Web Developer &middot; UI/UX Designer</p>
    </div>
  </div>

  <div class="scroll-action-container">
    <div class="scroll-button" (click)="scrollToAbout()">
      Who cares?
      <div class="line-break"></div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </div>


</div>