.container {
    height: 100%; 
    background-color: rgba(0,0,0,0.5);
    display: flex;
}

.heading {
    margin: auto; 

    p {
        font-size: 28px;
        color: white;
    }

    button {
        margin: auto;
    }
}